{% extends 'recipes/base_recipes.html' %}

{% block title %}
    Device firmware Create
{% endblock %}


{% block content %}

    <form class="" action="{% url 'device_firmware_create' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

{% endblock %}